{% extends 'base.html.twig' %}

{% block title %}About Ink & Frame Studios – Our Creative Journey
{% endblock %}

{% block meta_description %}Learn about Ink & Frame Studios' mission, vision, and the passionate team behind our compelling visual stories. Join us in crafting narratives that resonate.
{% endblock %}

{% block meta_keywords %}Ink & Frame Studios, creative team, visual storytelling, our mission, our vision
{% endblock %}


{% block body %}
	<section class="header-about-us">
		<div class="d-flex justify-content-center align-items-center h-100">
			<h1 class="text-primary py-5" data-aos="fade-in">ABOUT US</h1>

		</div>
	</section>

	<section class="about-us">
		<div class="bg-black py-5">
			<div class="container">
				<h1 class="text-center text-primary" data-aos="fade-in">Who We Are</h1>


				<div class="row g-3 py-3">
					<div class="col-lg-6 cold-sm-12">
						<img src="{{asset('images/about-us.webp')}}" alt="" class="img-fluid rounded-3">
					</div>
					<div class="col-lg-6 cold-sm-12 d-flex flex-column gap-4 my-auto">
						<div>
							<p class="m-0 text-white" data-aos="fade-in">Ink & Frame Studios is a storytelling-first production house rooted in passion, creativity, and collaboration.</p>

							<p class="m-0 text-white" data-aos="fade-in">Co-founded by a writer-director and a business strategist, we’re driven by the belief that great stories — told with clarity and craft — can move people.</p>

						</div>

						<div data-aos="fade-in">

							<div class="d-flex align-items-center gap-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bullseye text-primary" viewbox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
									<path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10m0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
									<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8"/>
									<path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
								</svg>
								<p class="m-0 text-white">Mission</p>
							</div>
							<div>
								<p class="m-0 text-white font-16">To tell honest, meaningful, and original stories that resonate.</p>
							</div>
						</div>


						<div data-aos="fade-in">

							<div class="d-flex align-items-center gap-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-binoculars text-primary" viewbox="0 0 16 16">
									<path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
								</svg>

								<p class="m-0 text-white">Vision</p>
							</div>
							<div>
								<p class="m-0 text-white font-16">To become a hub for bold voices in storytelling, creating work that lives beyond the screen.</p>
							</div>
						</div>

						<div data-aos="fade-in">

							<div class="d-flex align-items-center gap-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book text-primary" viewbox="0 0 16 16">
									<path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
								</svg>


								<p class="m-0 text-white">Our Philosophy</p>
							</div>
							<div>
								<p class="m-0 text-white font-16">We approach every project with the heart of an artist and the eye of a producer — shaping stories that feel real, rooted, and cinematic.</p>
							</div>
						</div>


					</div>

				</div>
			</div>


		</div>
	</section>
	{{ include('home/contact.html.twig') }}

{% endblock %}
