<section class="contact-us-section" id="contact-us">
	<div class="bg-secondary py-5">
		<div class="container">
			<div class="row g-2">
				<div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center">
					<h2 class="font-24 fw-bold text-primary" data-aos="fade-in">{{'Get in ' | upper}}</h2>
					<p class="font-24 ps-3 text-white" data-aos="fade-in">{{'touch with us' | upper}}</p>

					<div class="row" data-aos="fade-in">
						<div class="col-12 col-md-6">
							<div class="d-flex align-items-center gap-2 font-16  justify-content-center justify-content-md-start">
								<i class="fa-solid fa-map-location-dot text-primary m-0"></i>
								<p class="m-0 text-primary">Kalyan</p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="d-flex align-items-center gap-2 font-16  justify-content-center justify-content-md-start">
								<i class="fa-solid fa-phone text-primary m-0"></i>
								<p class="m-0 text-primary">+91 95462 45125</p>
							</div>
						</div>

					</div>

					<div class="row" data-aos="fade-in">
						<div class="col-12 col-md-6">
							<div class="d-flex align-items-center gap-2 font-16  justify-content-center justify-content-md-start">
								<i class="fa-solid fa-envelope text-primary m-0"></i>
								<p class="m-0 text-primary">hello@inkandframestudios.com</p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="d-flex align-items-center gap-2 font-16  justify-content-center justify-content-md-start">
								<i class="fa-solid fa-globe text-primary m-0"></i>
								<p class="m-0 text-primary">www.inkandframestudios.com</p>
							</div>
						</div>

					</div>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-in">

					<form>
						<div class="mb-2">
							<label for="exampleInputEmail1" class="m-0 form-label text-primary font-12">Name</label>
							<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						</div>
						<div class="row">
							<div class="mb-2 col-6">
								<label for="exampleInputPassword1" class="m-0 form-label  text-primary font-12">Email</label>

								<input type="email" class="form-control" id="exampleInputPassword1">
							</div>

							<div class="mb-2 col-6">
								<label for="exampleInputPassword1" class="m-0 form-label  text-primary font-12">Phone No</label>

								<input type="text" class="form-control" id="exampleInputPassword1">
							</div>

						</div>
						<div class="mb-2">
							<label for="exampleInputEmail1" class="m-0 form-label text-primary font-12">Message</label>
							<textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
						</div>


						<button type="submit" class="btn btn-primary w-100 text-black fw-bold">Submit</button>
					</form>

				</div>


			</div>

		</div>
	</div>
</section>
