<p>Hi,</p>
<p>You have an inquiry from website</p>

<h2>New Contact Request</h2>
<p>
	<strong>Name:</strong>
	{{ contact.name }}</p>
<p>
	<strong>Email:</strong>
	{{ contact.email }}</p>
<p>
	<strong>Phone:</strong>
	{{ contact.phone }}</p>
<p>
	<strong>Message:</strong><br>{{ contact.message|nl2br }}</p>
