$primary: #f2a444 !default; // Warm Gold
$secondary: #1b1a17 !default; // Dark Charcoal Black

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
) !default;

$font-size-base: 1.2rem;
