<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Ink & Frame Studios{% endblock %}
		</title>
		<meta name="description" content="{% block meta_description %}Default meta description.{% endblock %}">
		<meta name="keywords" content="{% block meta_keywords %}default, keywords{% endblock %}">
		<meta name="author" content="{% block meta_author %}Default Author{% endblock %}">
		{% block meta_tags %}{% endblock %}
		
		
		<meta name="robots" content="index, follow">


		<link rel="icon" href="{{ asset('images/logo.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ tinymce_scripts() }}
			{# <script src="https://cdn.tiny.cloud/1/gpl/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> #}

			{# <script src="https://cdn.tiny.cloud/1/g41us0t3d116jamizzc1fvdm1n3c7ywuk54w26tf7qj9x79o/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script> #}
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

		{% endblock %}
	</head>
	<body>
		{% include 'header.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'footer.html.twig' %}
	</body>
</html>
