<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<meta name="description" content="{% block meta_description %}Default meta description.{% endblock %}">
		<meta
		name="keywords" content="{% block meta_keywords %}default, keywords{% endblock %}">


		<!-- Author -->
		<meta
		name="author" content="Your Name">


		<!-- Open Graph (For social media sharing like Facebook) -->
		<meta property="og:title" content="Your Website Title">
		<meta property="og:description" content="Your website description here.">
		<meta property="og:image" content="https://example.com/your-image.jpg">
		<meta
		property="og:url" content="https://example.com">

		<!-- Twitter Card (For Twitter sharing) -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Your Website Title">
		<meta name="twitter:description" content="Your website description here.">
		<meta name="twitter:image" content="https://example.com/your-image.jpg">


		<meta name="robots" content="index, follow">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('images/logo.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

		{% endblock %}
	</head>
	<body>
		{% include 'header.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'footer.html.twig' %}
	</body>
</html>
